
.bg-grid-slate-l00 {
  background-image: url("@/assets/img/4768a0b.png");
  background-size: 100% 80%;
  mask-image: linear-gradient(0deg, #0000, #000);
}


.drag-input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  margin: 5px 0;
  cursor: ew-resize !important;
}

.drag-input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 6px;
  height: 32px;
  background: #64748b99;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drag-input[type="range"]:hover::-webkit-slider-thumb,
.drag-input[type="range"]:focus::-webkit-slider-thumb {
  transform: scale(1.2);
}


.drag-input[type="range"]:hover::-moz-range-thumb,
.drag-input[type="range"]:focus::-moz-range-thumb {
  transform: scale(1.2);
}


.drag-input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 32px;
  cursor: pointer;
  background: none;
  border-radius: 6px;
}

.drag-input[type="range"]::-moz-range-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: none;
  border-radius: 6px;
}

.drag-input[type="range"]:focus::-webkit-slider-runnable-track {
  background: none;
}

.drag-input[type="range"]:active::-webkit-slider-runnable-track {
  background: none;
}
