@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full p-0 m-0;
}

#app {
  @apply h-full;
}


.fill-color {
  @apply fill-gray-400  group-[.active]:fill-secondary-800 dark:fill-primary-400 dark:hover:fill-secondary-800
}

.child-item {
  &:last-child .line {
    bottom: 49% !important;
  }
}


.scrollbar {
  &::-webkit-scrollbar {
    @apply w-[.375rem] h-[.375rem] bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-[.25rem]  bg-[#64748b80] opacity-100;

  }

  &::-webkit-scrollbar-track {
    @apply rounded-[.25rem] bg-gray-100 dark:bg-gray-600 bg-[#02307329];
  }


}


.sn_menu li {
  @apply grid grid-rows-[42px,0fr]  w-full  ;
  transition: 0.75s;
}

.sn_menu {
  .secondItem {
    &:last-child {
      .beforeLine {
        @apply before:bottom-[49%];
      }
    }
  }

  .thirdItem {
    &:last-child {
      .beforeLines {
        @apply before:bottom-[49%];
      }
    }
  }
}

.sn_menu li ul {
  min-height: 0;

}


.sn_menu li.active {
  grid-template-rows:42px 1fr;
}




